.projects-page-wrapper {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow-y: auto; 
    overflow-x: hidden;
    scroll-behavior: auto;
}

.projects-container-relative {
    position: relative;
    background-color: #ee6969;
    width: 100%;
    height: 1000dvh;
}

.projects-header-stiky{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: background-color 0.5s linear;
}

.projects-header{
    position: relative;
    width: 90%;
    height: 30dvh;
    transition: color 0.5s linear;
    
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end;
    text-align: center;
}

.title-proj-page{
    display: flex;
    font-family: serif;
    font-size: 6rem;
    z-index: 10;
    padding: 10px;
    width: 60%;
    justify-content: center;
    height: 30%;
    align-items: end;
    border:none;
}

.description-proj-page{
    font-size: 1.5rem;
    font-family: serif;
    display: flex;
    border-right: 1px solid rgb(255, 255, 255);
    padding: 10px;
    width: 25%;
    justify-content: right;
    
    text-align: right;
    align-items: end;
}

.tech-proj-page{
    font-size: 1.5rem;
    font-family: serif;
    display: flex;
    border-left: 1px solid rgb(255, 255, 255);
    padding: 10px;
    width: 25%;
    justify-content: left;
    text-align: left;
    
    align-items: end;
}

.projects-container {
    position: relative;
    background-color: transparent;
    height: 70dvh;
    width: 100dvw;
    z-index: 2;
    overflow: hidden;
}

.proj-item-page{
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 10rem;
    left:5%;
    top: 100%;
    background-color: rgb(245, 150, 99);         
    opacity: 1;
    width: 90%;
    height: 100%;
    z-index: 3;
    transform-origin: top;
    transition: background-color 0.2s linear;
}

.proj-item-page img{
    width: 100%;
    height: auto;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.wrapper-proj-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

@media (max-width: 430px) {
    .title-proj-page{
        font-size: 3rem;
        width: 100%;
        border: none !important;
    }
    .description-proj-page{
        font-size: 1rem;
    }
    .tech-proj-page{
        font-size: 0.9rem;
    }
    .proj-item-page{
        font-size: 6rem;
    }
    .projects-container{
        height: 50dvh;
    }
    .projects-header{
        padding-top: 40px;
        height: 50dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tech-proj-page{
        width:50%;
        
    }
}

@media (min-width: 431px) and (max-width: 867px) {
    .title-proj-page{
        font-size: 3.8rem;
        width: 100%;
        border: none !important;
    }
    .description-proj-page{
        font-size: 1rem;
    }
    .tech-proj-page{
        font-size: 1rem;
    }
    .proj-item-page{
        font-size: 6rem;
    }
    .projects-container{
        height: 50dvh;
    }
    .projects-header{
        padding-top: 40px;
        height: 50dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tech-proj-page{
        width:50%;
        
    }
}

@media (min-width: 868px) and (max-width: 1300px) {
    .title-proj-page{
        font-size: 5rem;
        width: 100%;
        border: none !important;
    }
    .description-proj-page{
        font-size: 1rem;
    }
    .tech-proj-page{
        font-size: 1rem;
    }
    .proj-item-page{
        font-size: 6rem;
    }
    .projects-container{
        height: 50dvh;
    }
    .projects-header{
        padding-top: 40px;
        height: 50dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tech-proj-page{
        width:50%;
        
    }
}