.animation-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    border: 0;
    z-index: 0;
}

.boid-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(16,16,16);
}

.click_wrapper{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    z-index: 1;

}

.click {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(max(40dvw, 40dvh));
    width: calc(max(40dvw, 40dvh));
    border-radius: 50%;
    background-color: rgb(16,16,16);
    animation: scaleIn 1s forwards;
}

@keyframes scaleIn {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}


.click_to_start {
    font-size: calc(min(7dvw,7dvh));
    color: rgb(255, 255, 255);
    width: 100%;
    width: 200%;
    font-weight: 10;
    transition: transform 0.5s;
    text-align: center;
    margin: 20px;    
    
}

.click:hover .click_to_start {
    transform: scale(1.1);
    transition: transform 0.5s;
}


.circle_explode {
    transform: scale(0);
    background-color: rgb(23, 0, 61);
    position: absolute;
    opacity: 1;
    width: calc(max(150vw, 150vh));
    height: calc(max(150vw, 150vh));
    border-radius: 50%;
    z-index: 100;
}


.music-text {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    font-weight: 250;
}

.click:hover .music-text {
    opacity: 1;
}

.no-sound {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 20px;
    z-index: 2;
}

.no-sound-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    overflow: visible;
    width: 200px;
}

.no-sound:hover .dropdown {
    opacity: 1;
    transform: translateX(-150px);
}

.dropdown p {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 300;
    transition: color 0.5s;
}

.circle_explode_animation {
    animation: boom 1.45s forwards;
}

@keyframes boom {
    0% {
        opacity: 1;
        transform: scale(0)
    }

    33% {
        opacity: 1;
        transform: scale(0.3)
    }

    66% {
        opacity: 1;
        transform: scale(0)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}


@media (max-width: 767px) {
    .music-text{
        font-size: 0.8rem;
      }
  }
  
  
  
  @media (min-width: 768px) and (max-width: 1366px) {
    .music-text{
        font-size: 1rem;
      }
  }
  

  @media (min-width: 1367px) {
    .music-text{
        font-size: 1.5rem;
      }
  }