/* Centered Section */
.cv-section {
  position: relative;
  height: 80dvh;
  width: 100dvw;
  display: flex;

  background: #ffffff;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  z-index: 11;

}

.container-cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  z-index: 1;
}

.cv-section-title span {
  transition: all 0.5s ease-in-out;
}

.cv-section-title:hover span {
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(90deg, #32cb74, #09ad66);
  background-clip: text;
  color: transparent;
  font-size: 6rem;
}

.svg-cv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}


/* Heading */
.cv-section-title {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

/* Paragraph */
.cv-section p {
  font-size: 1.2rem;
  color: #555;
}

/* Button Container */
.cv-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cv-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  font-size: 3rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

.cv-btn .cv-icon {
  font-size: 1.2rem;
}

/* Download Button */
.download-btn {
  background: #00d679;
  color: white;
  transition: background 1s ease-in-out, transform 0.5s;
}

.download-btn:hover {
  background: linear-gradient(45deg, #00d679, #00a8cc);
  transform: scale(1.05);
  transition: background 1s ease-in-out, transform 0.5s;
}

/* View Online Button */
.view-btn {
  background: #ddd;
  color: #222;
  transition: background 1s ease-in-out, transform 0.5s;
}

.view-btn:hover {
  background: linear-gradient(45deg, #ddd, #777777);
  transform: scale(1.05);
  transition: background 1s ease-in-out, transform 0.5s;
}


.curvy-line2 {
  fill: none;
  stroke: #ff6e6e;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 2400;
  /* Total length of the path */
  stroke-dashoffset: 2400;
  /* Start hidden */
}

.move_left2 {
  animation: drawLine2 5s ease-in-out forwards;
}

.cv-view {
  position: fixed !important;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  z-index: 100;
  transform-origin: bottom;
  animation: open 0.5s ease-in-out forwards;
  
}

.gol {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  image-rendering: pixelated;
}

.cv-view-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cv-view-content-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cv-close {
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}

.view_link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 50%;
  height: 10%;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: font-size 0.5s ease-in-out;
}

.restart-animation-gol {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
  color: white;
  padding: 10px;
  background-color: black;
}

.cv-icon-view{
  font-size: 2rem;
}

.inner-title-cv-view {
  font-size: 6dvw;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  margin: 0;
  border-radius: 20px;
  transition: color 0.5s ease-in-out;
  
}

.container-title-cv{
  background-color: white;
  

}
.inner-title-cv-view:hover {
  background-color: white;
  color: transparent;
  background-image: linear-gradient(90deg, #ff0606, #ff9706);
  background-clip: text;
}

.loop-icon-cv-rotate {
  animation: rotate 0.5s linear infinite;
}

.se-link-cv:hover, .ai-link-cv:hover{
  
  font-size: 1.6rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes open {
  from {
    transform: scale(0);
    
  }

  to {
    transform: scale(1);
    
  }
}

@keyframes drawLine2 {
  from {
    stroke-dashoffset: 2400;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 600px) {
  .cv-section-title {
    font-size: 3rem;
  }

  .view_link {
    font-size: 1rem;
  }

  /* Paragraph */
  .cv-section p {
    font-size: 0.9rem;
  }

  .cv-section-title:hover span {
    font-size: 3.5rem;
  }

  .cv-btn {

    font-size: 7dvw;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .cv-section-title {
    font-size: 3rem;
  }

  .view_link {
    font-size: 1.5rem;
  }

  /* Paragraph */
  .cv-section p {
    font-size: 0.9rem;
  }

  .cv-section-title:hover span {
    font-size: 3.5rem;
  }

  .cv-btn {

    font-size: 7dvw;
  }
}