.home {
    position: relative;
    background-color: rgb(165, 165, 165);
    background: black;
    width: 100vw;
    z-index: 0;
    overflow-x: hidden;
    overflow: visible
  }
  

  
  .main_page {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 0;
    overflow: visible
  }
  
  .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
  }
  
  .show {
    transition: all 2s;
  }
  
  