.home {
    position: relative;
    width: 100dvw;
    z-index: 0;
    overflow-x: hidden;
    overflow: visible
  }
  
  .main_page {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: visible
  }


  .home-wrapper {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow-y: auto; /* Enable scrolling inside */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    scroll-behavior: smooth;
}