.pictures{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    min-height: 100dvh;
    overflow: hidden;
    margin: 0;
    background-color: white;
}

.outline{
    width: 97.5dvw;
    height: 97.5dvh;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.two_pictures {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    min-height: 100dvh;
    overflow: hidden;
    margin: 0;
    z-index: 2;
    gap: 0;
    border-collapse: collapse;
}



.two_pictures .right, .two_pictures .left {
    width: calc(50dvw + 0.5px);
    height: 100%;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    
    margin: 0;
    
}

.two_pictures img {
    width: 100%;
    border: none;
    height: 150%;
    object-fit: cover;
    margin-top: -200px;
}


.twopicture_title{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin:0;
    bottom: 0;
    align-items: center;
    text-align: center;
    z-index: 4;
}

.london{
    margin: 0;
    padding: 0;
    align-self: flex-end;
    font-size: 20dvw;
    font-weight: 100;
    font-family: "Roboto Slab", arial, helvetica, sans-serif;
    background-image: linear-gradient(180deg, rgb(0, 42, 139), rgba(255, 255, 255, 0.158));
    color: transparent;
    line-height: 1;
    background-clip: text;
}

.small{
    line-height: 0;
    margin: 0;
    padding: 0;
    font-size: 2dvw;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.768);
}

.behind_picture{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100dvw;
    
    flex-direction: column;
    
    margin: 0;
    overflow: hidden;
    z-index: 1;
}

.main_picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    position: relative;
    
}

.main_picture img{
    width: calc(max(100dvw,100dvh));
    height: calc(max(100dvw,100dvh));
    object-fit: cover;
    object-position: center;
    z-index: 2;
}


.main_picture_title{
    position: absolute;
    display: flex;
    gap: 0;
    margin:0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    mix-blend-mode: difference;
    width: 100%;
}

.main_picture_text{
    
    margin: 0;
    padding: 0;
    
    text-align: center;
    font-size: 10dvw;
    width: 100%;
    
    color:rgb(255, 255, 255);
    
}

.main_picture_text:hover{
    color: rgb(0, 0, 0);
}

@media (max-width: 430px){
    .small{
        font-size:5dvw;
    }
    .main_picture_text{
        font-size: 25dvw;
    }
}
@media ((min-width: 431px) and (max-width: 758px)){
    .small{
        font-size: 4dvw;

    }
    .main_picture_text{
        font-size: 15dvw;
    }
    
}