/* Main Section */

.about-me-section {
  position: relative;

  align-items: center;
  justify-content: center;
  background: white;
  width: 100dvw;
  height: 100dvh;
  z-index: 5;
  overflow: hidden;

}

/* Content Container */
.about-me-content {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: auto;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  line-height: 1;
  /* Better readability */
  color: #111;
  /* Slightly darker text for contrast */
  text-align: left;
  z-index: 2;

  font-family: serif;
  background-color: rgba(255, 255, 255, 0.538);
  padding-top: 5dvh;
  padding-left: 20dvw;
  padding-right: 20dvw;
}

/* Paragraph Styling */
.about-me-content p {
  font-size: 2dvh;
  font-weight: 300;
  font-family: sans-serif;
}


/* Header with Profile */
.about-me-header {
  width: min-content;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  gap: 20px;

  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 9dvw;
  width: auto;
  font-weight: 500;
}


.meet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  transform: none;
}

.about-me-header::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transition: transform 0.75s ease-out;
}

.about-me-header:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}


.highlight {
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  transition: background-size 2.5s ease-out;
}

.orange {
  background-image: linear-gradient(to right, #ffcc84 100%, transparent 100%);
}

.grey {
  background-image: linear-gradient(to right, #52e78672 100%, transparent 100%);
}

.blue {
  background-image: linear-gradient(to right, #81d5ff 100%, transparent 100%);
}

.pink {
  background-image: linear-gradient(to right, #cea0ff 100%, transparent 100%);
}

.highlighted {
  background-size: 100% 100%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile:hover {

  transform: scale(1.1) rotate(5deg);
  transition: transform 0.5s;
}

.profile img {

  width: 9rem;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.move_left3 {
  animation: drawLine3 2s ease-in-out forwards 1s;
}

@keyframes drawLine3 {
  from {
    stroke-dashoffset: 2400;
  }

  to {
    stroke-dashoffset: 0;
  }
}


@media (max-width: 430px) {
  .about-me-header {
    font-size: 12dvw;
  }
  .about-me-content p {
    font-size: 1rem;
  }

  .profile {
    display: none;
  }
}

@media ((min-width: 431px) and (max-width: 800px)) {
  .about-me-header {
    font-size: 10dvw;
  }
  .about-me-content p {
    font-size: 1.2rem;
  }

  .profile {
    display: none;
  }
}