.navbar{
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 2000 !important;
}

.background_white {
    background: white;
    transition: background 0.4s ease-in-out;
    border: 1px solid black !important;
  }
  
  .background_transparent {
    background: rgba(0, 0, 0, 0);
    transition: background 0.4s ease-in-out;
    border: 1px solid rgb(122, 122, 122);
  }
  
  .background_black {
    background: rgb(27, 27, 27);
    transition: background 0.4s ease-in-out;
    border: none;
  }
  
  
  
  .box-colored-purple {
    background: rgb(81, 46, 139);
  }
  
  .box-colored-white {
    background: rgb(255, 255, 255);
  }
  
  .box-colored-black {
    background: rgb(27, 27, 27);
  }
  
  .box-colored-orange {
    background: rgb(253, 200, 94);
  }
  
  .box-colored-black-light {
    background: rgb(52, 52, 52);
  }
  
  
  
  .text-black {
    color: black;
  }
  
  .text-white {
    color: white;
  }

  .line-colored-black{
    background: black !important;
  }

  .line-colored-white{
    background: white;
  }

  .line-colored-orange{
    background: rgb(253, 200, 94) !important;
  }