.navbar-wide {
    position: relative;
    display: flex;
    transform: translateY(-100%);
    transition: transform 1s;
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
  
  .leftNav {
    position: absolute;
    left: 2vw;
    top: 50%;
    transform: translateY(-50%);
  
    border-radius: 50px;
    width: 100px;
    height: 42px;
    padding: 0;
    margin: 0;
  
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: -1;
  }
  
  .box {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: -1;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: background 0.4s ease-in-out, transform 0.3s ease-out;
  }
  
  .text_box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    height: 50%;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  
  .old_t {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    z-index: 2;
    font-weight: bold;
    transition: transform 0.4s ease-out
  }
  
  
  .new_t {
    width: 100%;
    height: 100%;
    top: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    z-index: 5;
    font-weight: bold;
    transition: transform 0.4s ease-out
  }
  
  
  .leftNav:hover .old_t {
    transform: translateY(-100%);
  
  }
  
  
  .leftNav:hover .new_t {
    transform: translateY(-100%);
  }
  
  .leftNav:hover .box {
    transform: translateY(-100%);
  }
  
  .midNav {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 42px;
    width: 300px;
    transform: translate(-50%, -50%);
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    gap: 20px;
    z-index: -1;
    overflow: hidden;
  }
  
  .midNav .proj,
  .midNav .about,
  .midNav .contact {
    position: relative;
    z-index: 20;
    width: 100%;
    height: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .l_old {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  
  .l_left {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: -100%;
    z-index: 10;
  }
  
  .l_right {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 100%;
    z-index: 10;
  }
  
  .l_down {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: -100%;
    z-index: 10;
  }
  
  .l_old_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
  }
  
  .l_right_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    height: 100%;
  }
  
  .l_left_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
  }
  
  .l_down_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    height: 100%;
  }
  
  /* background movement */
  
  .c_left {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: 2;
    transition: background 0.4s ease-in-out;
  }
  
  .c_right {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: 2;
    transition: background 0.4s ease-in-out;
  }
  
  .c_down {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: 2;
    transition: background 0.4s ease-in-out;
  }
  
  
  .rightNav {
    position: absolute;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    border-radius: 50px;
    height: 42px;
    width: 70px;
    align-content: center;
    justify-content: center;
  }
  
  
  