.playerDiv{
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s linear;
    z-index: 3000;
}   

.playerButton{
    border: 1px solid #ee696905;
    border-radius: 50px;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 3002;
    background: rgba(0, 0, 0, 0);
}

.playerButton .pause {
    width: 32px;
    height: 32px;
}

.playerButton .play {
    width: 32px;
    height: 32px;
    
}

.c_right_play{
    position: absolute;
    bottom:-100%;
    width:100%;
    height:100%;
    border-radius: 50px;
    z-index: 3001;
    transition: background 0.4s ease-in-out;
}

.menu-item{
    font-size: 3rem;
    color: white;
    font-family: serif;
}